<!doctype html>
<html>
 <head>
 <title>Tweet Classification</title>
 <link rel = "icon" href ="https://img.icons8.com/officel/16/000000/twitter.png" type = "image/x-icon"> 
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <style>
  body {
   background-image: url('https://miro.medium.com/max/700/1*q-h6a_z8IAiBwKZDhR0FhA.png');
 }
</style>
 </head>
 <body>
 
 <h1>I'm Pavankumar</h1>
 <h2>Please enter your tweet:</h2><form method=post action="/results">
 <dl>
 <form method="POST">
    <input name="text">
    <input type="submit">
         
</form>
 </dl>
 <div>
 
 </div>
</form></body>
</html>